<!DOCTYPE html>
<html>
  <title>My Paste Bin - Create Paste</title>
  <link rel="stylesheet" href="{{ url_for('mybp.static', filename='mystyle.css') }}" />
  <body>
    <div class="container">
      <form action="createpaste" method="post">
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" value="{{ username }}" required />

        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required />

        <label for="title"><b>Title</b></label>
        <input type="text" placeholder="Enter Title" name="title" required />

        <label for="content"><b>Content</b></label>
        <input type="textarea" placeholder="Enter Note" name="content" required />

        <button type="submit">Paste Note</button>
      </form>
    </div>
  </body>
</html>
